/* Contenedor principal */
.containerStudies {
    width: 100%;
    height: auto;
    background: linear-gradient(#bdc7cd, #6d50a8);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Título */
.title {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 30px;
    padding: 40px;
}

/* Lista de estudios */
.studiesList {
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 600px;
}

.studiesList li {
    background-color: #64489c;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out;
    text-align: center;
}

.studiesList li:hover {
    transform: scale(1.05);
    background-color: #522891;
}

/* Responsive */
@media (max-width: 998px) {
    .containerStudies {
        width: 90%;
        height: 800px !important;
    }
}
@media (max-width: 1294px) {
    .containerStudies {
        width: 96% !important;
        height: 780px;
    }
}
@media (max-width: 2150px) {
    .containerStudies {
        width: 97%;
        height: 780px;
    }
}
